<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
  <application>
    <service
      android:name=".SlotTimerAlarmService"
      android:foregroundServiceType="mediaPlayback"
      android:exported="false" />
    <receiver
      android:name=".TimerEventReceiver"
      android:exported="false" />
    <receiver
      android:name=".TimerRestoreReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
        <action android:name="android.intent.action.TIME_SET" />
        <action android:name="android.intent.action.TIMEZONE_CHANGED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
